<h1>{{bug.title}}</h1>
<h3>{{bug.rapporter.firstname}}</h3>
<p>{{bug.description}}</p>
<ul>
  {{#each bug.services}}
    <li>
      <h3>{{name}}</h3>
      {{!-- <p>{{bug.solutions}}</p> --}}
    </li>
  {{/each}}