<h2>Services List</h2>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Phone</th>
      <th scope="col">E-mail</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each allServicesFromDB}}
      <tr>
        <th scope="row">{{name}}</th>
        <td>{{phone}} </td>
        <td>{{email}}</td>
        <td>
          <button class="btn btn-danger"><a class="btn btn-danger" href="/services/{{id}}/delete">Remove</a></button>
          <button class="btn btn-light"><a class="btn btn-light" href="/services/{{id}}/edit">Edit</a></button>
        </td>
      </tr>
    {{/each}}
    <form action="/services" method="post"></form>
      <tr>
        <div class="input-group input-group-lg"></div>
          <th scope="row"><input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" name="name" placeholder="Service Name" /></th>            
        </div>
        <td>
          <div class="input-group input-group-lg"></div>
            <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" name="phone" placeholder="Phone" /></td>
          </div>
        <td>
          <div class="input-group input-group-lg"></div>  
            <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" name="email" placeholder="Mail" /></td>
          </div>
        <td>
          <button class="btn btn-primary"><a class="btn btn-primary" href="">Add new</a></button>
        </td>
      </tr>
    </form>
  </tbody>
</table>