{{#each errors}}
<div class="alert alert-danger" role="alert">{{this}}</div>
{{/each}}
<h2>Services List</h2>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Phone</th>
      <th scope="col">E-mail</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each allServicesFromDB}}
    <tr>
      <th scope="row">{{name}}</th>
      <td>{{phone}} </td>
      <td>{{email}}</td>
      <td>
        <a href="/services/{{id}}/delete"> <button class="btn btn-danger">Remove</button></a>
        <button class="ml-2 btn btn-light" data-toggle="modal" data-target="#editModal"
          data-whatever="@getbootstrap">Edit</button>
      </td>
    </tr>
    {{/each}}
    <form action="/services" method="POST">
      <tr>
        <div class="input-group input-group-lg"></div>
        <th scope="row"><input type="text" class="form-control" aria-label="Large"
            aria-describedby="inputGroup-sizing-sm" name="name" placeholder="Service Name" /></th>
        </div>
        <td>
          <div class="input-group input-group-lg"></div>
          <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm"
            name="phone" placeholder="Phone" />
        </td>
        </div>
        <td>
          <div class="input-group input-group-lg"></div>
          <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm"
            name="email" placeholder="Mail" />
        </td>
        </div>
        <td>
          <button type="submit" class="btn btn-primary">Add</button>
        </td>
      </tr>
    </form>
  </tbody>
</table>